POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tickettout
POSTGRES_PORT=5432
DATABASE_URL="postgres://postgres:postgres@db:5432/tickettout"

JWT_SECRET="change-me-to-a-long-random-secret"
JWT_TTL_SECONDS=1800

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
REDIS_DATA_DIR=/data
REDIS_URL="redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

GARAGE_RPC_SECRET=f8c27a31154fa808021f4a09f2f49d51991ac5feffff8f02c6b21be75f4e4690
GARAGE_ADMIN_TOKEN=dVvOJSbcHM+QJPTTkHo1RRZ/55H4ZJQoF2aar3zIDAE=
GARAGE_METRICS_TOKEN=AUmgMe4HyazDNdxHq8c+6grWKPDkMbYnJntrEy6PEcE=
GARAGE_DEFAULT_ACCESS_KEY=GK92761b198dc8f2235a50c6173fc2cd8c
GARAGE_DEFAULT_SECRET_KEY=dfb12fb6576437166dd70ef07d2cd2a15fd6c0e671327ff76d8c3a316cb63e9b
GARAGE_DEFAULT_BUCKET=kbis-documents

BETTER_AUTH_SECRET="change-me-to-a-long-random-secret"
APP_HOST_IP=10.49.84.139
ENABLE_DEMO_EMPLOYEE=true